# always use LF line endings

# ALL FILES:
#   Normalize line endings to LF on checkin and
#   prevent conversion to CRLF when the file is checked out.

* text eol=lf


# TEXT FILES:

*.bat text eol=crlf


# BINARY FILES:
#   Disable line ending normalize on checkin.

*.dll binary
*.dylib binary
*.gif binary
*.jar binary
*.lib binary
*.otf binary
*.png binary
*.sketch binary
*.so binary
*.ttf binary
*.zip binary
